## Codio Activity 1.3: Selecting Data in Multiple Ways

**Expected Time: 45 Minutes**

**Total Points: 20 Points**

## Index:

- [Part 1](#Part-one)
- [Part 2](#Part-two)
- [Part 3](#Part-three)

In [3]:
import pandas as pd

[Back to top](#Index:) 

## Part one

### loc[]

**2 Points each**

In this exercise, return the basic information from a dataframe using loc[]

In [6]:
#create the DataFrame utilizing Pandas 
data = pd.read_csv('/Users/jaikumar/Desktop/Berkeley_ML/codio_1.3_solution/data/nba.csv', index_col = 0)
data = data.iloc[:-1 , :]
data.head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [7]:
### GRADED

# Please print the information for the first line in the DataFrame. 

locinfo = None

### BEGIN SOLUTION
locinfo = data.loc[0]
### END SOLUTION

# ANSWER CHECK
print(locinfo)

Name         Avery Bradley
Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: 0, dtype: object

In [8]:
### BEGIN HIDDEN TESTS
locinfo1 = data.loc[0]
assert type(locinfo) == type(locinfo1)
locinfo == locinfo1

### END HIDDEN TESTS

Name        True
Team        True
Number      True
Position    True
Age         True
Height      True
Weight      True
College     True
Salary      True
Name: 0, dtype: bool

In [12]:
### GRADED
# Please show LeBron James' name and team

teamdata = None

### BEGIN SOLUTION
#teamdata = data.loc[data.Name == 'LeBron James', 'Name':'Team']
teamdata = data.loc[data['Name'] == "LeBron James",['Name', 'Team']]
### END SOLUTION

# ANSWER CHECK
print(teamdata)

             Name                 Team
169  LeBron James  Cleveland Cavaliers

In [6]:
### BEGIN HIDDEN TESTS
teamdata1 = data.loc[data.Name == 'LeBron James', 'Name':'Team']
assert type(teamdata) == type(teamdata1)
teamdata == teamdata1

### END HIDDEN TESTS

     Name  Team
169  True  True

[Back to top](#Index:) 

## Part two

### iloc[]

**2 Points each**

In this exercise, return single selections using iloc[]

In [20]:
### GRADED
# Please print the first row of data frame 

fr = None

### BEGIN SOLUTION

fr = data.iloc[0]

### END SOLUTION

# ANSWER CHECK
print(fr)

Name         Avery Bradley
Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: 0, dtype: object

In [19]:
### BEGIN HIDDEN TESTS

## Old test case, seem incorrect. Commenting it for now...
# teamdata1 = data.loc[data.Name == 'LeBron James', 'Name':'Team']
# assert type(teamdata) == type(teamdata1)
# teamdata == teamdata1

fr1 =  data.iloc[0]
assert type(fr) == type(fr1 )
fr = fr1

### END HIDDEN TESTS

In [21]:
### GRADED
# Please print the second row of data frame 

sr = None

### BEGIN SOLUTION

sr =  data.iloc[1]

### END SOLUTION

# ANSWER CHECK
print(sr)

Name           Jae Crowder
Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: 1, dtype: object

In [10]:
### BEGIN HIDDEN TESTS
sr1 =  data.iloc[1]
assert type(sr) == type(sr1 )
sr == sr1 

### END HIDDEN TESTS

Unnamed: 0    True
Name          True
Team          True
Number        True
Position      True
Age           True
Height        True
Weight        True
College       True
Salary        True
Name: 1, dtype: bool

In [22]:
### GRADED
# Please print the last row of data frame

lr = None

### BEGIN SOLUTION

lr =  data.iloc[-1] 

### END SOLUTION

# ANSWER CHECK
print(lr)

Name        Tibor Pleiss
Team           Utah Jazz
Number              21.0
Position               C
Age                 26.0
Height               7-3
Weight             256.0
College              NaN
Salary         2900000.0
Name: 455, dtype: object

In [12]:
### BEGIN HIDDEN TESTS
lr1 =  data.iloc[-1]
assert type(lr) == type(lr1 )
lr == lr1 

### END HIDDEN TESTS

Unnamed: 0     True
Name           True
Team           True
Number         True
Position       True
Age            True
Height         True
Weight         True
College       False
Salary         True
Name: 455, dtype: bool

In [23]:
###GRADED
# Please print the first column of data frame
 
fc = None

### BEGIN SOLUTION

fc =  data.iloc[:,0] 

### END SOLUTION

# ANSWER CHECK
print(fc)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

In [14]:
### BEGIN HIDDEN TESTS
fc1 =  data.iloc[:,0]
assert type(fc) == type(fc1)
fc == fc1

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Unnamed: 0, Length: 456, dtype: bool

In [24]:
### GRADED
# Please print the second column of data frame

sc = None

### BEGIN SOLUTION

sc =  data.iloc[:,1]

### END SOLUTION

# ANSWER CHECK
print(sc)

0      Boston Celtics
1      Boston Celtics
2      Boston Celtics
3      Boston Celtics
4      Boston Celtics
            ...
451         Utah Jazz
452         Utah Jazz
453         Utah Jazz
454         Utah Jazz
455         Utah Jazz
Name: Team, Length: 456, dtype: object

In [16]:
### BEGIN HIDDEN TESTS
sc1 =  data.iloc[:,1]
assert type(sc) == type(sc1)
sc == sc1

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Name, Length: 456, dtype: bool

In [25]:
### GRADED
# Please print the last column of data frame

lc = None

### BEGIN SOLUTION

lc =  data.iloc[:,-1] 

### END SOLUTION

# ANSWER CHECK
print(lc)

0      7730337.0
1      6796117.0
2            NaN
3      1148640.0
4      5000000.0
         ...
451     981348.0
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
Name: Salary, Length: 456, dtype: float64

In [18]:
### BEGIN HIDDEN TESTS
lc1 =  data.iloc[:,-1]
assert type(lc) == type(lc1)
lc == lc1

### END HIDDEN TESTS

0       True
1       True
2      False
3       True
4       True
       ...
451     True
452     True
453     True
454     True
455     True
Name: Salary, Length: 456, dtype: bool

[Back to top](#Index:) 

## Part three

### Split

**2 Points each**

In this exercise, return the first and last name utilizing the split function

In [26]:
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0

In [33]:
### GRADED

# Please print the first full name of the first series in the data frame.

firstname = None

### BEGIN SOLUTION
firstname = data['Name'].str.split().str[0].iloc[0]
###strEND SOLUTION

# ANSWER CHECK
print('The first name is ' + firstname)

The first name is Avery

In [20]:
### BEGIN HIDDEN TESTS
firstname1 =  data['Name'].str.split().str[0].iloc[0]
assert type(firstname) == type(firstname1)
firstname == firstname1

### END HIDDEN TESTS

True

In [34]:
###GRADED

# Please print the last full name of the first series in the data frame.

lastname = None

### BEGIN SOLUTION
lastname =  data['Name'].str.split().str[1].iloc[0]
### END SOLUTION

# ANSWER CHECK
print('The last name is ' + lastname)

The last name is Bradley

In [22]:
### BEGIN HIDDEN TESTS
lastname1 =  data['Name'].str.split().str[1].iloc[0]
assert type(lastname) == type(lastname1)
lastname == lastname1

### END HIDDEN TESTS

True